<!DOCTYPE html>
<html>
<head>
	<title>Vidzy Application</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		#searchForm{
			padding: 20px 10px;
		}
		#search{
			display: inline;
			width: 20%;
		}
	body{
		background-color: rgb(240, 224, 135);
	}
	</style>
</head>
<body>